<br><br>
<div>
    <div class="ui grid">
        <div class="ui form sixteen wide column ng-class: {loading: isLoading}">
            <h4 class="ui block top attached header">Edit ID: {{ selectedItem.id }}</h4>
            <div class="ui bottom attached secondary segment">
                <div class="field">
                    <label>Name:</label>
                    <input type="text" ng-model="selectedItem.name">
                </div>
                <div class="field">
                    <label>Language:</label>
                    <input type="text" ng-model="selectedItem.language">
                </div>
                <div class="field">
                    <a class="ui button large primary" ng-click="save()">Save</a>
                    <a class="ui button large" ng-href="#/pagination">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>