<!doctype html>
<html ng-app="MainApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title><%= appname %> by gulp-angular-semantic-ui</title>

    <!-- build:css styles/style.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <div ng-controller="MenuCtrl" class="ui fixed inverted main menu">
        <div class="container">
            <div class="title item"><%= appname %></div>
            <div class="right menu">
                <div class="ui simple dropdown item">
                    <i class="browser icon"></i> Demo
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" ng-click="showBox(Global.constants.LOGIN_BOX)">
                            <i class="user icon"></i> Login
                        </a>
                        <a class="item" ng-click="showBox(Global.constants.PAGINATION_BOX)">
                            <i class="table icon"></i> Pagination
                        </a>
                        <a class="item" ng-click="showBox(Global.constants.TAB_BOX)">
                            <i class="ellipsis horizontal icon"></i> Tab
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1></h1>

    <div ng-controller="AuthCtrl" class="ui one column center aligned page grid hide" show-if="{{ Global.activatedBox == Global.constants.LOGIN_BOX }}">
       <div class="column six wide">
            <h4 class="ui block top attached header">Login</h4>
            <div class="ui form bottom attached fluid segment">
                <div class="ui negative message hide" show-if="{{ isError }}">
                    <div class="header">Authentication failed</div>
                    <p>Invalid username or password.</p>
                </div>
                <div class="inline field">
                    <label class="login">Username:</label>
                    <input type="text" ng-model="user.username">
                </div>
                <div class="inline field">
                    <label class="login">Password:</label>
                    <input type="password" ng-model="user.password">
                </div>
                <div class="field">
                    <button class="ui button large primary" ng-click="enter()">Enter</button>
                </div>
            </div>
       </div>
    </div>

    <div ng-controller="PaginationCtrl">

        <div class="hide" show-if="{{ Global.activatedBox == Global.constants.PAGINATION_BOX }}">

            <div class="ui segment hide" show-if="{{ isLoading }}">
                <div class="ui page inverted active dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>

            <table class="ui striped table">
                <thead>
                    <tr>
                        <th colspan="4">Dribbble Shots</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items track by $index">
                        <td>{{ item.created_at | date : 'dd/MM/yyyy' }}</td>
                        <td>
                            <a href="{{ item.html_url }}" target="_blank">
                                {{ item.title | limitTo : 30 }}
                            </a>
                        </td>
                        <td>{{ item.user.name }}</td>
                        <td class="right aligned">
                            <div class="ui small basic blue button" ng-click="edit(item, $index)">
                                <i class="edit icon"></i> Edit
                            </div>
                            <div class="ui small basic red button" ng-click="remove(item, $index)">
                                <i class="remove icon"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <th colspan="4">
                        <pagination rows="10"/>
                    </th>
                </tfoot>
            </table>
            
        </div>

        <div class="hide" show-if="{{ Global.activatedBox == Global.constants.PAGINATION_EDIT_ITEM_BOX }}">
            <div class="ui grid">
                <div class="ui form sixteen wide column ng-class: {loading: isLoading}">
                    <h4 class="ui block top attached header">Edit</h4>
                    <div class="ui bottom attached secondary segment">
                        <div class="field">
                            <label>Title:</label>
                            <input type="text" ng-model="selectedItem.obj.title">
                        </div>
                        <div class="field">
                            <label>User:</label>
                            <input type="text" ng-model="selectedItem.obj.user.name">
                        </div>
                        <div class="field">
                            <button class="ui button large primary" ng-click="save()">Save</button>
                            <button class="ui button large" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-controller="TabularCtrl" class="hide" show-if="{{ Global.activatedBox == Global.constants.TAB_BOX }}">
        <div class="ui top attached tabular menu">
            <tab-item id="'tab1'" text="'Tab 1'" active="true"></tab-item>
            <tab-item id="'tab2'" text="'Tab 2'"></tab-item>
        </div>

        <div class="ui bottom attached tab active segment tab1">
            <p>This is the tab 1 content</p>
        </div>

        <div class="ui bottom attached tab segment tab2">
            <p>And this is the tab 2 content</p>
        </div>
    </div>

    
    <!-- build:js script.js -->
    <!-- bower:js -->
    <script src="../bower_components/angularjs/angular.js"></script>
    <!-- endbower -->
    <script src="scripts/app-service.js"></script>
    <script src="scripts/app-controller.js"></script>
    <script src="scripts/app-factory.js"></script>
    <script src="scripts/app-directives.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
