hr {
  border: 0;
  border-top: 1px solid silver;
}

label.login {
    width: 70px !important;
    text-align: left;
}

div.ui.auth, div.ui.top.attached.menu {
    margin-top: 40px;
}

.ui.main.container {
    width: 100%;
}

.hide {
    display: none !important;
}

div.title.item {
    position: inherit !important;
}