hr {
  border: 0;
  border-top: 1px solid silver;
}

label.login {
    width: 70px !important;
    text-align: left;
}

.hide {
    display: none;
}

div.title.item {
    position: inherit !important;
}